body {
  margin: 0;
}
nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background:rgb(31, 45, 90);
  padding: 12px 0;
}
nav a {
  text-decoration: none;
  color: white;
}
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
}
.login-form {
  background-color:white;
  padding: 40px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}
.container {
  max-width: 420px;
  padding: 50px;
  margin: 50px auto;
  background:white;
}
.container input {
  width: 30em;
  margin-bottom: 10px;
}
.search-bar {
  width: 30%;
  margin: 20px auto;
  display: block;
}





